*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    /* Fix the horizontal Scrollbar */
    overflow-x: hidden;
}
/* Banner Section */
.header{
    width: 100%;
    height: 865px;
    background: url(../images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner{
    text-align: right;
    padding: 210px 230px;
}

.banner-title h5{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.banner-description p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.btn-primary{
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    padding: 20px 25px;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
}
/* Failure Section */
.failure{
    width: 100%;
    margin: 130px 250px 0px 250px;
}

.failure-area{
    display: flex;
    justify-content: center;
}

.failure-content{
    width: 50%;
}

.failure-content-box{
    margin-top: 310px;
    margin-left: 90px;
}

.failure-content-title h5{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 25px;
}

.failure-content-description p{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-content-list ul{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.failure-content-list ul li{
    list-style: none;
}
/* My Plan Section */
.my-plan{
    width: 100%;
    margin: 130px 0;
}

.my-plan-area{
    text-align: center;
}

.my-plan-title h5{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}

.my-plan-content{
    display: flex;
    justify-content: center;
}

.my-plan-content-box{
    margin-right: 70px;
}

.my-plan-content-title h6{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 20px;
    margin-bottom: 16px;
}

.my-plan-description p{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}
/* Call Now Section */
.call-now{
    display: flex;
    justify-content: center;
    margin: 0 0 130px 0;
}

.call-now-content{
    width: 1140px;
    height: 300px;
    /* Overlay 2 Image */
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    /* background-blend-mode: overlay; */
    background-repeat: no-repeat;
    border-radius: 8px;
    overflow: hidden;
}
.call-now-area{
    padding: 60px 600px 60px 65px;
}

.call-now-title h5{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 25px;

}
/* Footer Section */
.footer{
    width: 100%;
    background: #151414;
}

.footer-content{
    padding-top: 140px;
    padding-bottom: 140px;
}

.footer-area{
    display: flex;
    justify-content: center;
}

.footer-box{
    padding-right: 200px;
}
.footer-title h4{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}
/* Class Group by comma*/
.footer-description p, .footer-contact p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.footer-icon img{
    margin-right: 16px;
}

.footer-title h5{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.footer-email input{
    width: 325px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    color: #F3F3F3;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-bottom: 16px;
}

.footer-button .btn-primary{
    background: #005FAC;
    border-radius: 8px;
    color: #FFFFFF;
}